$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: #10106b;
$secondary: $gray-600 !default;
// $secondary: #022002;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: #c00606;
$light: $gray-100 !default;
$dark: $gray-800 !default;

@import "node_modules/bootstrap/scss/bootstrap";

.card {
  opacity: 0.9;
  margin-top: 5vh;
}

.background {
  position: absolute;
  z-index: -1;
  height: 105%;
  width: 100%;
}

.index {
  width: 100%;
  height: 100%;
}

.navbar {
  border-bottom: 2px solid $primary;
}

.addProjectForm {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  box-shadow: -14px 18px 16px 7px rgba(0, 0, 0, 1);

  .form-group {
    padding: 0.8rem;
  }

  h3 {
    background-color: $primary;
    color: $white;
    padding: 1.3rem;
    text-align: center;
  }
}

.project {
  width: 80%;
  margin: 0 auto;

  h3 {
    background-color: $primary;
    color: $white;
    padding: 0.9rem;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .addProjectForm {
    width: 90%;
  }

  .project {
    width: 95%;
  }
}
